._layer {
  background-color: black;
}
.proyecto-1 {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}
.contenedor-imagen-proyecto-01 {
  width: 40%;
  height: 80%;
  background: url(imagenes/foto\ 1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}

.imagen-proyecto-01 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: black;
  opacity: 0.5;
}
.imagen-proyecto-01:hover {
  opacity: 0;
}

.imagen-proyecto-01 h2 {
  color: transparent;
  width: 100%;
  height: 50%;
  text-align: center;
  margin-top: 40%;
  opacity: 1;
  font-family: biko;
}
.imagen-proyecto-01 h2:hover {
  color: white;
  opacity: 1;
}

.info-proyecto-01 {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  flex-direction: column;
  background-color: white;
}
.descripcion-proyecto-01 {
  width: 90%;
  height: 50%;
}
.info-proyecto-01 a:hover {
  text-decoration: none;
  cursor: pointer;
}
.descripcion-proyecto-01 p {
  font-size: 1.8rem;
  font-family: "Josefin Sans";
  margin-left: 2%;
}

.contenedor-titulo-proyecto-01 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url(imagenes/Sin\ título-1.jpg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -9vh;
  background-position-x: -3.5vw;
}
.contenedor-titulo-proyecto-02 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url(imagenes/Sin\ título-2-02.jpg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -9vh;
  background-position-x: -3.5vw;
}
.contenedor-titulo-proyecto-03 {
  width: 100%;
  height: 60%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  background: url(imagenes/Sin\ título-3-03.jpg);
  background-size: 50%;
  background-position: center;
  background-repeat: no-repeat;
  background-position-y: -9vh;
  background-position-x: -3.5vw;
}

.contenedor-titulo-proyecto-01 h2 {
  font-family: biko;
  font-size: 6rem;
  font-weight: bolder;
  margin-left: 2%;
  margin-bottom: 5%;
  letter-spacing: 0.1rem;
}

.descripcion-proyecto-01 a {
  width: 100%;
  height: 7%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: biko;
  text-align: center;
  border-style: none;
  margin-left: 15%;
  /* font-weight: 900; */
}

.button-proyecto {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: inherit;
  text-decoration: none;
  border-style: none;
  /* border-bottom: 1px solid black; */
  margin-left: 15%;
  font-family: "Josefin Sans";
  font-weight: 900%;
}
.button-proyecto:hover {
  text-decoration: none;
  cursor: pointer;
  text-decoration: underline;
  /* border-bottom: 1px solid black; */
}
.boton-responsive-01 {
  display: none;
}
.logo {
  margin-top: 0.5%;
  width: 100%;
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 50%;
}
.logo {
  width: 50%;
  height: 10vh;
  background-color: transparent;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 25%;
}

.proyecto-2 {
  width: 100%;
  height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.info-proyecto-02 {
  width: 40%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  flex-direction: column;
  background-color: white;
}
.descripcion-proyecto-01 {
  width: 90%;
  height: 50%;
}
.info-proyecto-01 a:hover {
  text-decoration: none;
  cursor: pointer;
}
.descripcion-proyecto-01 p {
  font-size: 1.8rem;
  font-family: "Josefin Sans";
  margin-left: 2%;
}

.contenedor-titulo-proyecto-01 h2 {
  font-family: biko;
  font-size: 6rem;
  font-weight: bolder;
  margin-left: 2%;
  margin-bottom: 5%;
  letter-spacing: 0.1rem;
}

.button-proyecto-02 {
  width: 15%;
  height: 7%;
  background-color: inherit;
  display: flex;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  font-family: biko;
  text-align: left;
  border-style: none;
  margin-right: 75%;
}
.button-proyecto {
  width: 100%;
  height: 100%;
  color: black;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background-color: inherit;
  text-decoration: none;
  border-style: none;
  /* border-bottom: 1px solid black; */
  margin-left: 15%;
  font-family: "Josefin Sans", bold;
  font-weight: 900px;
}
.contenedor-imagen-proyecto-02 {
  width: 40%;
  height: 80%;
  background: url(imagenes/fauno.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.imagen-proyecto-02 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-imagen-proyecto-03 {
  width: 40%;
  height: 80%;
  background: url(imagenes/fauno1.jpeg);
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.imagen-proyecto-03 {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.contenedor-titulo-proyecto-01 h2 {
  font-family: biko;
  font-size: 6rem;
  font-weight: bolder;
  margin-left: 2%;
  margin-bottom: 8%;
  letter-spacing: 0.1rem;
}
.contenedor-titulo-proyecto-02 h2 {
  width: 100%;
  font-family: biko;
  font-size: 6rem;
  font-weight: bolder;
  margin-left: 2%;
  margin-bottom: 8%;
  letter-spacing: 0.1rem;
}
.contenedor-titulo-proyecto-03 h2 {
  font-family: biko;
  font-size: 6rem;
  font-weight: bolder;
  margin-left: 2%;
  margin-bottom: 8%;
  letter-spacing: 0.1rem;
}
@media screen and (max-width: 620px) {
  .proyecto-1 {
    flex-direction: column;
  }
  .proyecto-2 {
    flex-direction: column;
  }
  .contenedor-imagen-proyecto-01 {
    width: 80%;
    height: 40%;
  }
  .contenedor-imagen-proyecto-02 {
    width: 80%;
    height: 40%;
  }
  .contenedor-imagen-proyecto-03 {
    width: 80%;
    height: 40%;
  }

  .imagen-proyecto-01 {
    width: 100%;
    height: 100%;
    /* background: url(imagenes/foto\ 1.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-proyecto-02 {
    width: 100%;
    height: 100%;
    /* background: url(imagenes/fauno.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-proyecto-03 {
    width: 100%;
    height: 100%;
    /* background: url(imagenes/fauno1.jpeg);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat; */
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .imagen-proyecto-01:hover {
    opacity: 0.5;
  }

  .imagen-proyecto-01 h2 {
    color: transparent;
    width: 100%;
    height: 100%;
    text-align: center;
    margin-top: 90%;
    opacity: 1;
    font-family: biko;
  }
  .imagen-proyecto-01 h2:hover {
    color: white;
    opacity: 1;
  }

  .info-proyecto-01 {
    width: 80%;
    height: 35%;
    display: flex;
    justify-content: center;
    align-items: flex-start;
    flex-direction: column;
    background-color: white;
  }
  .descripcion-proyecto-01 {
    width: 90%;
    height: 60%;
  }
  .info-proyecto-01 a {
    display: none;
  }
  .info-proyecto-01 a:hover {
    text-decoration: none;
    cursor: pointer;
  }
  .descripcion-proyecto-01 p {
    font-size: 1.4rem;
    font-family: "Josefin Sans";
    margin-left: 2%;
  }

  .contenedor-titulo-proyecto-01 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(imagenes/Sin\ título-1.jpg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -4.4vh;
    background-position-x: -7.8vw;
  }
  .contenedor-titulo-proyecto-02 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(imagenes/Sin\ título-2-02.jpg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -4.4vh;
    background-position-x: -6vw;
  }
  .contenedor-titulo-proyecto-03 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(imagenes/Sin\ título-3-03.jpg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -4.4vh;
    background-position-x: -6vw;
  }

  .contenedor-titulo-proyecto-01 h2 {
    font-family: biko;
    font-size: 3.5rem;
    font-weight: bolder;
    margin-left: 2%;
    margin-bottom: 8%;
    letter-spacing: 0.1rem;
  }
  .contenedor-titulo-proyecto-02 h2 {
    width: 100%;
    font-family: biko;
    font-size: 3.5rem;
    font-weight: bolder;
    margin-left: 2%;
    margin-bottom: 8%;
    letter-spacing: 0.1rem;
  }
  .contenedor-titulo-proyecto-03 h2 {
    font-family: biko;
    font-size: 3.5rem;
    font-weight: bolder;
    margin-left: 2%;
    margin-bottom: 8%;
    letter-spacing: 0.2rem;
  }

  .descripcion-proyecto-01 a {
    width: 100%;
    height: 7%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    font-family: biko;
    text-align: center;
    border-style: none;
    margin-left: 15%;
  }

  .button-proyecto {
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: inherit;
    text-decoration: none;
    border-style: none;
    /* border-bottom: 1px solid black; */
    margin-left: 15%;
    font-family: "Josefin Sans", bold;
    font-weight: 900px;
  }
  .button-proyecto:hover {
    transition: 0s;
    text-decoration: none;
    cursor: pointer;
    text-decoration: underline;
    /* border-bottom: 1px solid black; */
  }
  .boton-responsive-01 {
    width: 80%;
    height: 3%;
    background-color: none;
    text-decoration: none;
    font-family: biko;
    border-style: none;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    margin-top: 10%;
  }
  .button-proyecto-responsive-01 {
    text-align: center;
    font-size: 1.3rem;
    width: 100%;
    height: 100%;
    color: black;
    display: flex;
    background-color: inherit;
    text-decoration: none;
    font-family: biko;
    display: flex;
    text-align: center;
    justify-content: center;
    border-style: none;
    border-bottom: 1px solid black;
  }
  .button-proyecto-responsive-01:hover {
    /* border-bottom: 1px solid black; */
    text-decoration: underline;
  }
}

@media screen and (min-width: 1025px) and (max-width: 1280px) {
  .contenedor-titulo-proyecto-01 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(imagenes/Sin\ título-1.jpg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -9vh;
    background-position-x: -3.5vw;
  }
  .contenedor-titulo-proyecto-02 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(imagenes/Sin\ título-2-02.jpg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -9vh;
    background-position-x: -3.5vw;
  }
  .contenedor-titulo-proyecto-03 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(imagenes/Sin\ título-3-03.jpg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -9vh;
    background-position-x: -3.5vw;
  }
}

@media screen and (min-width: 1400px) {
  .contenedor-titulo-proyecto-01 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(imagenes/Sin\ título-1.jpg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -5vh;
    background-position-x: -3.5vw;
  }
  .contenedor-titulo-proyecto-02 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(imagenes/Sin\ título-2-02.jpg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -5vh;
    background-position-x: -3.5vw;
  }
  .contenedor-titulo-proyecto-03 {
    width: 100%;
    height: 60%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    background: url(imagenes/Sin\ título-3-03.jpg);
    background-size: 50%;
    background-position: center;
    background-repeat: no-repeat;
    background-position-y: -5vh;
    background-position-x: -3.5vw;
  }
}
